<html>
<body>

<section style="margin: 53px 8px 8px 8px;">
    <form action="login" method="post">
        <h2 style="color: red;"><%= message %></h2>
        <h2>Login</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div><br>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div><br>
        <input class="BtnOrange" type="submit" value="LogIn">
        <input class="BtnOrange" type="button" onclick="window.location='/'" value="Home">
    </form>
    <div>Version </div>
</section>
</body>
</html>